
/* bubble chart */
.backbutton {
  cursor: pointer;
  fill: #a1a1a1;
  font-family: Verdana;
  font-size: 1.2em;
}

.charttitle {
  fill: #a1a1a1;
  font-family: Verdana;
  font-size: 1em;
}

.legenditem text {
  fill: #a1a1a1;
  font-family: Verdana;
  font-size: 1em;
}

text {
  font-family: Verdana;
}

.node {
  cursor: pointer;
}

/* map */
path {
  stroke: #3a92c8;
  stroke-width: 0.25px;
  fill: #b9dbee;
}

/* document */
body {
  font-family: Verdana;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  padding: 2.5em 1em 3em 1em;
  margin 0;
  min-height: 100%;
  color: #0483bb;
}

h1 {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-size: 2.3em;
  text-align: center;      
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-size: 1.8em;
  text-align: center;
}

h2 small {
  font-size: 0.5em;
  font-weight: normal;
}

.clear {
  clear: both;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.half-container {
  display: inline-block;
  float: left;
  width: 45%;
  padding: 0;
  margin: 0 2em 0 0;
}

.half-container img {
  display: block;
  margin: 0 auto 0 auto;
}

#home {
  background-image: url('../images/bg2.gif');
}

#home .container {
  margin: 30px auto 80px auto;
}

#home img {
  display: block;
  margin: 0 auto 0 auto;
}

#home h1 {
  color: #fff;
}

#relation {
  background: #eaeaea; /* Old browsers */
  background: -moz-linear-gradient(left,  #eaeaea 0%, #ffffff 50%, #e8e8e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eaeaea), color-stop(50%,#ffffff), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #eaeaea 0%,#ffffff 50%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #eaeaea 0%,#ffffff 50%,#e8e8e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #eaeaea 0%,#ffffff 50%,#e8e8e8 100%); /* IE10+ */
  background: linear-gradient(to right,  #eaeaea 0%,#ffffff 50%,#e8e8e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-9 */

}

#relation small {
  color: #a1a1a1;
}

#geography {
  background-color: #3a92c8;
  background: -webkit-radial-gradient(circle,#94d2f8,#3a92c8);
  background: -moz-radial-gradient(circle,#94d2f8,#3a92c8);
  background: -ms-radial-gradient(circle,#94d2f8,#3a92c8);
}

#geography h2 {
  color: #fff;
}

#geography p {
  color: #fff;
}

#accountability p {
  color: #a1a1a1;
}

#footer {
  margin: 0 3.2em 3em 3.2em;
}

#footer p {
  color: #424242;
}

/* @media all and (max-width: 699px) and (min-width: 520px) { */
@media all and (max-width: 810px) {
  .half-container {
    display: block;
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #footer {
    margin: 0;
    padding: 0;
  }

  #footer .container {
    padding: 0 0 0 1em;
  }
}

@media all and (max-width: 600px) {
  #home .container {
    margin: 20px auto 35px auto;
  }
}
